.animate-add-dialog {
  opacity: 0;
}
.animate-add-dialog-active {
  opacity: 1;
  transition: opacity 500ms;
}
.animate-add-dialog-exit {
  opacity: 1;
}
.animate-add-dialog-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}